.SearchResults {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    width: 40vh;
    max-height: 57vh;
    padding: 2.27rem 1.16rem;
    background-color: transparent;
    box-shadow: 13px 15px 20px 3px #404040, -6px -7px 20px 3px #f9f9f9;
    margin: 40px;
    margin-top: 7%;
    border-radius: 10px;
  }

  h2 {
    text-align: center;
    margin: 0;
  }
  
  ::-webkit-scrollbar {
      width: 0px;
      background: transparent;
  }

  .disButton {
    cursor: pointer;
    width: 50%;
    padding: .5rem 0;
    border-radius: 10px;
    border-width: 0px;
    background-color: #d2d1cf8a;
    text-align: center;
    font-size: .83rem;
    transition: background-color .25s;
    color: #000000;
    font-weight: 700;
    box-shadow: 5px 5px 10px 0px #252525d1, -3px -3px 10px 3px #ffffffd9;
    margin-top: -.3rem;
    margin-bottom: .5rem;
    display: none;
  }

  .disButton:hover {
    box-shadow: inset 13px 9px 20px -5px #a0a0a0;
  }
  
  @media only screen and (max-width: 1450px) {
    .SearchResults {
      width: 90%;
      margin: 6% 2% 1% 2%;
      padding: 2% 1% 5.5% 1%;
    }
    h2 {
      padding-top: 0;
    }

  }
  @media only screen and (max-width: 1150px) {

    .disButton{
      display: initial;
    }
}


  @media only screen and (max-width: 700px) {
    .SearchResults {
      margin-top: 20px;
      height: 31%;
      padding-right: 17px;
      margin: 11% 2% 1% 2%;
    }
    
  }