.SearchResults {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  width: 40vh;
  max-height: 57vh;
  padding: 2.27rem 1.16rem;
  background-color: #282828;
  box-shadow: -1px -1px 3px rgba(255, 255, 255, 0.48),
    2px 2px 6px rgba(0, 0, 0, 0.8);
  margin: 40px;
  margin-top: 7%;
  border-radius: 10px;
  color: #ececec;
}

h2 {
  text-align: center;
  margin: 0;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.disButton {
  cursor: pointer;
  width: 50%;
  padding: 0.5rem 0;
  border-radius: 10px;
  border-width: 0px;
  background-color: #282828;
  text-align: center;
  font-size: 0.83rem;
  transition: background-color 0.25s;
  color: #0e0e0e;
  font-weight: 700;
  box-shadow: -1px -1px 3px rgba(255, 255, 255, 0.1),
    2px 2px 6px rgba(0, 0, 0, 0.8);
  margin-top: -0.3rem;
  margin-bottom: 0.5rem;
  display: none;
}

.disButton:hover {
  box-shadow: inset -2px -2px 10px rgba(255, 255, 255, 0.05),
    inset 2px 2px 10px rgba(0, 0, 0, 0.8);
  color: #1db954;
}

@media only screen and (max-width: 1450px) {
  .SearchResults {
    width: 90%;
    margin: 6% 2% 1% 2%;
    padding: 2% 1% 5.5% 1%;
  }

  h2 {
    padding-top: 0;
  }
}

@media only screen and (max-width: 1150px) {
  .disButton {
    display: initial;
  }
}

@media only screen and (max-width: 700px) {
  .SearchResults {
    margin-top: 20px;
    height: 31%;
    padding-right: 17px;
    margin: 11% 2% 1% 2%;
  }
}
