.playDiv {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  font-family: "Open Sans", sans-serif;
}
ul {
  list-style-type: circle;
}
.playlistNames {
  display: inline;
}

.fdBut {
  cursor: pointer;
  border-radius: 3px;
  border-width: 0px;
  background-color: #ba261c;
  text-align: center;
  font-size: 0.5rem;
  transition: background-color 0.25s;
  color: #000000;
  font-weight: 700;
  display: none;
  font-family: "Open Sans", sans-serif;
  align-self: center;
}
.fdBut:hover {
  color: white;
}

.track {
  margin: 0;
  margin-left: 10px;
}

.dBut {
  cursor: pointer;
  color: #ba261c;
  background-color: transparent;
  font-weight: 700;
  font-size: 1.45rem;
  font-weight: bold;
  border-radius: 50%;
  border: none;
  padding: 0px 12px;
  margin-bottom: 2px;
}

.dBut:hover {
  text-shadow: 0 0 5px #ba261c, 0 0 20px #ba261c;
}
.playlistAction {
  cursor: pointer;
  padding: 2px;
  font-size: 1.3rem;
  transition: color 0.25s;
  border: 0px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 50%;
  box-shadow: -1px -1px 3px rgba(255, 255, 255, 0.1),
    2px 2px 6px rgba(0, 0, 0, 0.8);
}
.playlistAction:hover {
  box-shadow: inset -2px -2px 10px rgba(255, 255, 255, 0.05),
    inset 2px 2px 10px rgba(0, 0, 0, 1);
  text-shadow: 0 0 5px #ba261c, 0 0 20px #ba261c;
}
.bBut {
  cursor: pointer;
  background-color: transparent;
  color: #1db954;
  border: none;
  align-self: center;
  font-weight: 700;
  display: none;
  margin-bottom: 2px;
}

.bBut:hover {
  text-shadow: 0 0 5px #1db954, 0 0 20px #1db954;
}
