.playDiv {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  font-family: "Open Sans", sans-serif;
}

.playlistNames {
  display: inline;
}

.fdBut {
  cursor: pointer;
  border-radius: 3px;
  border-width: 0px;
  background-color: #d70101f2;
  text-align: center;
  font-size: 0.5rem;
  transition: background-color 0.25s;
  color: #000000;
  font-weight: 700;
  display: none;
  font-family: "Open Sans", sans-serif;
  align-self: center;
}
.dBut:hover {
  color: #ffffff;
}

.track {
  margin: 0;
  margin-left: 10px;
}

.dBut {
  color: #ffffff;
  background-color: transparent;
  border: none;
  font-size: 2rem;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  transition: background-color 0.25s;
}

.dBut:hover {
  color: #d70101f2;
}

.bBut {
  background-color: transparent;
  color: white;
  border: none;
  align-self: center;
  font-weight: 700;
  display: none;
  margin-bottom: 2px;
  transition: background-color 0.25s;
}

.bBut:hover {
  color: #1ed701f2;
}
