body,
html,
#root {
  height: 100%;
}

* {
  /* outline: 1px solid hotpink; */
}


html {
  font-size: 18px;
}

h1 {
  padding: .77rem 0;
  background-color: transparent;
  text-align: center;
  font-family: 'Exo 2', sans-serif;
  font-size: 3rem;
  color: #ffffff;
  margin: 0px;
  position: absolute;
  width: 100%;
  text-shadow: 2px 2px 8px #000000, -6px -4px 8px #ffffff;
}



h1 .highlight {
  color: rgb(30, 215, 1);
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.55rem;
}

.App {
  height: 100vh;
  background-image: url('./background_photo_desktop2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  color: #000000;
  display: flex;
  justify-content: center;
}

.App-playlist {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.midDiv {
  margin-top: 7%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 1450px) {
  .App {
    padding: 0;
  }

  h1 {
    font-size: 3rem;
    padding-top: inherit;
  }

  .App-playlist {
    align-items: center;
    flex-direction: column;
  }

  .midDiv {
    margin: 1% 2% 1% 2%;
    width: 35%;
  }
}

@media only screen and (max-width: 1750px) {
  .App {
    padding-left: 14%;
  }

  h1 {
    padding-left: 7%;
  }
}

@media only screen and (max-width: 1150px) {
  .App {
    padding-left: 0;
  }

  h1 {
    padding-left: 0;
  }
}


@media only screen and (max-width: 700px) {
  .App {
    flex-direction: column;
    background-position: right;
    padding-left: 0 !important;
  }

  h1 {
    font-size: 2rem;
    text-align: center;
    height: auto;
    padding: inherit;
  }

  .midDiv {
    margin: 1% 2% 1% 2%;
    width: auto;
  }
}