.preview {
  display: none;
  align-items: center;
  justify-content: center;
  width: 287px;
  height: 15vh;
  background-color: #282828;
  box-shadow: -1px -1px 3px rgba(255, 255, 255, 0.48),
    2px 2px 6px rgba(0, 0, 0, 0.8);
  margin: 40px;
  margin-top: 10%;
  border-radius: 10px;
  color: #ececec;
}

@media only screen and (max-width: 1450px) {
  .preview {
    padding-right: 1%;
    padding-left: 1%;
  }
}

@media only screen and (max-width: 700px) {
  .preview {
    margin: 1% 2% 1% 2%;
    height: fit-content;
  }
}
