.preview {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 290px;
    height: 15vh;
    background-color: #d1d1cfe6;
    box-shadow: 5px 5px 11px 3px #151515d1, -5px -5px 12px 2px #f9f9f9bf;
    margin: 40px;
    margin-top: 10%;
    border-radius: 10px;
}

@media only screen and (max-width: 1450px) {
    .preview {
        padding-right: 1%;
        padding-left: 1%;
    }
}

@media only screen and (max-width: 700px) {
    .preview {
        margin: 1% 2% 1% 2%;
        height: fit-content;
    }
}