.preview {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 290px;
    height: 15vh;
    background-color: transparent;
    box-shadow: 13px 15px 20px 3px #404040, -6px -7px 20px 3px #f9f9f9;
    margin: 40px;
    margin-top: 10%;
    border-radius: 10px;
}

@media only screen and (max-width: 1450px) {
    .preview {
        padding-right: 1%;
        padding-left: 1%;
    }
}
@media only screen and (max-width: 700px) {
   .preview {
    margin: 1% 2% 1% 2%;
    height: fit-content;
   }
}