.SearchBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
    margin: 40px;
  }
  
  .SearchBar input {
    width: 287px;
    padding: .88rem 0;
    border: 1px solid #010c3f;
    border-radius: 3px;
    margin-bottom: 2.22rem;
    color: #000000;
    text-align: center;
    font-size: 1rem;
  }
  
  .SearchBar input:focus {
    outline: none;
  }
  
  .SearchButton {
    cursor: pointer;
    width: 8.11rem;
    padding: .77rem 0;
    border-radius: 10px;
    background-color: #d3d2d0db;
    text-align: center;
    font-size: .833rem;
    transition: background-color .25s;
    border: 0px;
    color: black;
    font-weight: 600;
    box-shadow: 5px 3px 17px 1px #3e3e3e, 
    -5px -3px 10px 3px #ffffff;
  }
  
  .SearchButton:hover {
    box-shadow: inset 13px 9px 20px -5px #a0a0a0;
  }

  @media only screen and (max-width: 1450px) {
    .SearchBar {
      margin: 0;
      padding-top: 20%;
    }
    .SearchButton {
      margin-bottom: 10%;
    }
  }

  @media only screen and (max-width: 700px) {
    .SearchBar {
      padding: 5%;
    }
    .SearchBar input {
      margin-bottom: 1rem;
  }
}

  