.logout {
  position: absolute;
  right: 10px;
  top: 5px;
  height: 3vh;
  min-height: 20px;
  cursor: pointer;
  border-radius: 3px;
  border-width: 0px;
  background-color: #d2d1cf8a;
  text-align: center;
  font-size: 0.83rem;
  transition: background-color 0.25s;
  color: #272727;
  font-weight: 600;
  box-shadow: 1px 1px 5px 0px #252525d1, -3px -3px 5px 1px #ffffffd9;
  font-family: "Open Sans", sans-serif;
}

.logout:hover {
  color: #d7d2ce;
  background: #d70101db;
  border-color: #d70101db;
  transition: all 0.4s ease 0s;
}
