.Playlist1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  width: 40vh;
  max-height: 57vh;
  padding: 2.27rem 1.16rem;
  background-color: transparent;
  box-shadow: 8px 8px 20px 3px #191919c7, -6px -7px 20px 3px #f9f9f9;
  margin: 40px;
  margin-top: 7%;
  border-radius: 10px;
  color: #272727;
}

.Playlist1 input {
  width: 100%;
  border: 0;
  outline: 0;
  background: transparent;
  font-family: "Open Sans", sans-serif;
  font-size: 1.55rem;
  color: #272727;
  font-weight: bold;
}

.Playlist-save {
  cursor: pointer;
  width: 10rem;
  padding: 0.77rem 0;
  border-radius: 7px;
  border-width: 0px;
  margin-top: 1.27rem;
  background-color: #d2d1cf8a;
  text-align: center;
  font-size: 1rem;
  transition: background-color 0.25s;
  color: #272727;
  font-weight: 700;
  box-shadow: 5px 5px 10px 0px #252525d1, -3px -3px 10px 1px #ffffffd9;
  font-family: "Open Sans", sans-serif;
}

.Playlist1 input {
  text-align: center;
}

.Playlist-save:hover {
  box-shadow: inset 13px 9px 20px -5px #a0a0a0;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

@media only screen and (max-width: 1450px) {
  .Playlist1 {
    width: 90%;
    margin: 6% 2% 1% 2%;
    padding: 2% 1% 8% 1%;
  }
}

@media only screen and (max-width: 700px) {
  .Playlist1 {
    height: 31%;
    padding-right: 17px;
    margin: 1% 2% 1% 2%;
    background-color: #cecece54;
    box-shadow: 5px 5px 9px 1px #191919d1, -6px -7px 20px 3px #f9f9f9db;
  }
}
