.Playlist {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    width: 40vh;
    max-height: 57vh;
    padding: 2.27rem 1.16rem;
    background-color: transparent;
    box-shadow: 13px 15px 20px 3px #404040, -6px -7px 20px 3px #f9f9f9;
    margin: 40px;
    margin-top: 7%;
    border-radius: 10px;
  }
  
  .Playlist input {
    width: 100%;
    border: 0;
    outline: 0;
    background: transparent;
    font-family: 'Poppins', sans-serif;
    font-size: 1.55rem;
    color: #000000;
    font-weight: bold;
  }
  
  .Playlist-save {
    cursor: pointer;
    width: 10rem;
    padding: .77rem 0;
    border-radius: 10px;
    border-width: 0px;
    margin-top: 1.27rem;
    background-color: transparent;
    text-align: center;
    font-size: .83rem;
    transition: background-color .25s;
    color: #000000;
    font-weight: 700;
    box-shadow: 5px 3px 17px 2px #3e3e3e, -5px -3px 10px 3px #ffffff;
  }
  .Playlist input {
    text-align: center;
  }
  
  .Playlist-save:hover {
    box-shadow: inset 13px 9px 20px -5px #a0a0a0;
  }
  
  ::-webkit-scrollbar {
      width: 0px;
      background: transparent;
  }
  
  @media only screen and (max-width: 1450px) {
    .Playlist {
      width: 90%;
      margin: 6% 2% 1% 2%;
      padding: 2% 1% 8% 1%;
    }
  }

  @media only screen and (max-width: 700px) {
    .Playlist {
      height: 31%;
      padding-right: 17px;
      margin: 1% 2% 1% 2%;
    }
  }